<div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
    <div>
      <div class="d-flex flex-justify-between flex-items-start mb-1">
        <h3 class="f4 lh-condensed mb-1">
          <a href="{{ item.html_url }}">
            {% octicon {{ item.logo }} height:20 class:"mr-1 v-align-middle" fill:"#586069" aria-label:{{ item.logo }} %}
            {{ item.name }}
          </a>
        </h3>
      </div>
      <div class="text-gray mb-2 ws-normal">{{ item.description }}</div>
    </div>
    <div class="f6">
      {% if item.date %}
        <div class="d-flex flex-items-center mb-1">
          <span class="repo-language-color ml-0 mr-1" style="background-color:{{ item.color }}"></span>
          <span>{{ item.date }}</span>
        </div>
      {% endif %}
      {% if item.gpa %}
        <div class="d-inline-block link-gray mb-1">
          {% octicon star height:14 class:"mr-1 v-align-middle" aria-hidden:true %}{{ item.gpa }}
        </div>
      {% endif %}
      {% if item.role %}
        <div class="d-flex flex-items-center link-gray">
          {% octicon briefcase height:14 class:"mr-1 flex-shrink-0" %}{{ item.role }}
        </div>
      {% endif %}
    </div>
  </div>