<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Welcome!</h2>
<p class="f4 mb-2 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    I am a recent graduate of the University of Connecticut School of Engineering. I hold a
    Bachelor of Science in Engineering for Computer Science & Engineering with a concentration in
    Computational Data Analytics, and have also completed a minor in Mathematics.
</p>
<p class="f4 mb-2 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    I have a great interest for the application of computation to everyday life, as well
    as the application of mathematics and sciences involved within the field. My involvement
    throughout various projects and teams has helped to solidify my software, hardware, and
    development skills.
</p>

<p class="f5 mb-4"><a href="{{ site.url }}{{ site.baseurl | append:'/Portfolio?' }}" class="d-flex flex-items-center {% if site.style == 'dark' %}text-white{% endif %}">{% octicon chevron-right height:16 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Portfolio %}Portfolio</a></p>