<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Welcome!</h2>
{% for paragraph in site.welcome %}
<p class="f4 mb-2 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    {{ paragraph }}
</p>
{% endfor %}

<p class="f5 mb-4"><a href="{{ site.url }}{{ site.baseurl | append:'/Portfolio' }}" class="d-flex flex-items-center {% if site.style == 'dark' %}text-white{% endif %}">{% octicon chevron-right height:16 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Portfolio %}Portfolio</a></p>
